.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  align-items: flex-start;
  padding-left: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.filters-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 170px;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.filter-button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  align-self: flex-start;
  width: 100%;
  font-size: 16px;
  color: #475569;
  text-align: left;

  margin: 0px;
}

.filter-item {
  width: 100%;
  margin: 0px;
  align-items: flex-start;
  align-self: flex-start;
}

.bookshelves-heading-sidebar {
  color: #334155;
  width: 100%;
  font-size: 20px;
  padding: 40px;
  margin: 0px;
}

.active-tab-item {
  font-weight: 600;
  color: #0284c7;
}
