.bookshelves-bg-container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.sidebar-container {
  width: 15%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.bookshelves-main-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: #f5f7fa;
  margin-top: 40px;
  align-items: flex-start;
}

.filter-name-search-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 36px;
  padding: 5px;
  border: 1px solid #cbd5e1;
  background-color: #edeff1;
  border-left: 0px;
}
.search-input {
  height: 36px;
  width: 250px;
  border: 1px solid #cbd5e1;
}

.failure-container {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;
}

.books-failure-btn {
  background-color: #0284c7;
  width: 112px;
  height: 48px;
  border: 0px;
  cursor: pointer;
}

.books-failure-image {
  width: 500px;
  height: 250px;
}

.books-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bookshelves-heading {
  display: none;
}
.responsive-filters-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
  .bookshelves-bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .filter-name-search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px;
  }
  .search-container {
    order: 0;
  }
  .bookshelves-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin: 0px;
  }
  .books-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding-left: 0px;
  }
  .active-tab-name {
    display: none;
  }
  .bookshelves-heading {
    display: block;
    align-self: flex-start;
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 30px;
  }
  .search-container {
    align-items: flex-start;
  }
  .responsive-filters-container {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding-left: 30px;
  }
  .responsive-filter-item {
    margin: 10px 10px 10px 0px;
  }
  .responsive-filter-btn {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: #0284c7;
    border: 1px solid #0284c7;
    border-radius: 2rem;
    min-width: 50px;
    padding: 5px 10px 5px 10px;
  }
  .active-responsive-filter {
    background-color: #0284c7;
    color: #f8fafc;
  }
}
